# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
builds
Zenject.csproj.user.meta
Zenject.Commands.csproj.user.meta
build2
.idea/.idea.bb_unity_android/.idea
.idea/.idea.bb_unity/.idea
.idea
Builds
report.xml
build_fb
build_fb2
buildlog.log
/Assets/ParadoxNotion/NodeCanvas Resources/Example Scenes/
Logs
